<component name="ArtifactManager">
  <artifact type="war" name="springBootTest:war">
    <output-path>$PROJECT_DIR$/../springBootTest/target</output-path>
    <root id="archive" name="springBootTest.war">
      <element id="artifact" artifact-name="springBootTest:war exploded" />
    </root>
  </artifact>
</component>